*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Space Grotesk', serif;
  }
:root {
    --button-color: #21092f;
    --card-gradient: linear-gradient(#6348fe, #610595);
    --card-header: #2f2f2f;
    --secondary-card-color: linear-gradient(#ffffff, #d2d3d9);
  }
.card_bg{
    width: 483px;
height: 900px;
color:rgb(65, 0, 65);
background-color:#330066;
position: absolute;
}

.primary_card {
    height: 166px;
    width: 296px;
    border-radius: 6px;
    background: var(--card-gradient);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 120px;
    left: 30px;
    margin-left: 200px;
}
.circle_container {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  
  .big_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
  }
  
  .small_circle {
    width: 13.58px;
    height: 13.58px;
    border-radius: 50%;
    border: 1px solid white;
  }
  .card_number {
    color: white;
    letter-spacing: 2.2px;
    font-size: 18px;
    width: 100%;
    margin-top: 70px !important;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer_content {
    color: white;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 9px;
    margin-top:20px;
  }
  .footer_content2{
    color: white;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 9px;
    margin-top: 25px;
    margin-left: 170px;
  }
  .secondary_card {
    width: 336px;
    height: 206px;
    border-radius: 6px;
    background: var(--secondary-card-color);
    display: flex;
    flex-direction: column;
    top: 22px;
    left: 80px;
    position: absolute;
    margin-top: 250px;
  }
  
  .line {
    background-color: var(--card-header);
    width: 100%;
    padding: 20px 0;
    margin-top: 10px;
  }
  .second_line {
    background-color: #adb5be;
    border-radius: 4px;
    width: calc(100% - 56px);
    display: flex;
    margin: 10px auto;
    padding: 10px 0;
  }
  
  .line_text {
    display: flex;
    margin-left: auto;
    color: white;
    margin-right: 10px;
  }
  .last_line{
    margin-top: 600px;
    position: absolute;
    margin-left: 150px;
    scale: 1.1;
  }
  .circe{
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: purple;
    margin-left: 600px;
    margin-top: -250px;
  }
  .poto{
    width: 100px;
    height: 50px;
    margin-left: 635px;
    background-color:transparent;
    margin-top: -60px;
    
  }
  .thx1{
    margin-top:30px;
    margin-left: 550px;
    font-size: xx-large;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .thx2{
    margin-left: 680px;
    font-size: xx-large;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: -40px;
  }
  .hf1{
    margin-left: 500px;
    color: gainsboro;
    letter-spacing: 2px;
  }
  .hf2{
    margin-left: 560px;
    margin-top: -20px;
    color: gainsboro;
    letter-spacing: 2px;
  }
  .hf3{
    margin-left: 625px;
    margin-top: -20px;
    color: gainsboro;
    letter-spacing: 2px;
  }
  .hf4{
    margin-left: 675px;
    margin-top: -20px;
    color: gainsboro;
    letter-spacing: 2px;
  }
  .hf5{
    margin-left: 725px;
    margin-top: -20px;
    color: gainsboro;
    letter-spacing: 2px;
  }
  button{
    width: 250px;
    height: 50px;
    background: #330066;
    color: white;
    margin-left: 530px;
    margin-top: 50px;
    border-radius: 10px;
  }